/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}

form, button {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

label {
    flex: 1 0 100px;
}

input, select {
    flex: 2 1 200px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    label, input, select {
        flex: 1 0 auto;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    thead tr {
        display: none;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }
}

/* Styles pour l'impression */
@media print {
    body * {
        visibility: hidden;
    }

    #tableau, #tableau * {
        visibility: visible;
    }

    #tableau {
        position: absolute;
        left: 10%;
        top: 0;
        width: 75%;
    }

    td:nth-child(1), td:nth-child(3) {
        font-weight: bold;
    }

    th:last-child, td:last-child {
        display: none;
    }

    form, button {
        display: none;
    }
}

#supprimerTout {
    background-color: red;
    color: white;
    margin-top: 20px;
}

#supprimerTout:hover {
    background-color: darkred;
}
